

body {
    background-image: url("IMAGES/background.png");
    width: 100%;
    min-width: 1200px;
    height: 100%;
    min-height: 800px;
    margin-top: 0px;
    margin-right:0px;
    margin-left: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: bisque;
}

button {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgb(60, 60, 60);
    border-radius: 4px;
    color: bisque;
    padding: 1px 3px 0px 3px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    margin-bottom: 2px;
    cursor: pointer;
    font-size: 16px;
    

}
button:hover{
    background-color: rgb(37, 37, 37);
    margin: 5px;
    margin-bottom: 2px;
    padding: 1px 3px 0px 3px;

}

title:hover:after {
    opacity: 1;
}

.data {
    color: rgb(54, 224, 224);
}

.box {
    border: 5px solid rgb(46, 1, 1);
    background-color: rgb(27, 27, 27);
    padding: 10px;
    width: 500px;
    margin: 4px;
    display: inline-block;

}

/* TOP BANNER */
.banner{
    border: 1px solid rgb(143, 143, 143); 
    border-bottom: 2px solid rgb(143, 143, 143);
    background-color: rgb(22, 22, 22);
    display: block;
    padding-left: 10px;

}
.bannerRow{
    width: 100%;
}
.bannerColumn
{
    display: inline-block;
    width:32%;
    vertical-align: middle;

}

/* MAIN GAME INFO COLUMNS */
.column {

    height: min-content;

    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;

    border: 1px solid rgb(143, 143, 143);
    background-color: rgb(22, 22, 22);
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;

}
.columnHead{
    margin: 0;
    padding: 0;
    height: 26px;
    border-bottom: 1px solid rgb(147, 147, 147);
    text-align: center;
    background-color: rgb(12, 12, 12);
}

/* SHOW PRICES AND MORE WHEN HOVER */
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
    border: 1px solid rgb(143, 143, 143);
    border-radius: 3px;
    padding: 3px;
    z-index: 1;
    margin: 0px;
    left: 180px;
    width: max-content;

}
.dropdown:hover .dropdown-content{
    display: inline-block;
}
.checkBox{

    text-align: center;  
    border-left: 1px solid rgb(143, 143, 143);
    width: 180px;
    padding: 3px;
    margin: 0;
    float: inline-end;
}

#leftColumn {
    width: 30%;
    max-width: 400px;
    min-width: 370px;
    padding-left: 0px;
    padding-right: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    padding-top: 0;
}

#midColumn {
    width: 30%;
    max-width: 700px;
    min-width: 600px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    padding-top: 0;

}
#rightColumn {
    width: 30%;
    max-width: 400px;
    min-width: 370px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    padding: 0;
}
#resourceListType {
    height: max-content;
    border-radius: 0%;
    border: 0px;
    border-right: 1px solid rgb(143, 143, 143);
    margin: 0;
    padding-right: 4px;
    padding-left: 4px;
    text-align: right;
    max-width: 100px;
    min-width: 45px;
    overflow-x: hidden;
    overflow-y: auto;
}
#resourceListAMT {
    height: max-content;
    border-radius: 0%;
    border: 0px;
    border-right: 1px solid rgb(143, 143, 143);
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
    max-width: 500px;
    min-width: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}
#resourceListGains {
    height: max-content;
    border-radius: 0%;
    border: 0px;
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    text-align: left;
    max-width: 500px;
    min-width: 45px;
    overflow-x: hidden;
    overflow-y: auto;
}
#gameMain {
    display: block;
    min-width: 1600px;
    margin: 0;
    padding: 0;
}
#introMain {
    color: bisque;
    display: block;
    max-height: min-content;
    max-width: 1%;
    overflow-x:hidden;
    margin: 0px;
    max-width: 100%;
    min-width: 99%;
    border: 1px solid rgb(143, 143, 143);
    border-top: 0px;
    background-color: rgb(22, 22, 22);
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    padding: 5px;
    margin: 0px;
    margin-bottom: 3px;
}
#gameMenu {
    min-width: 700px;
    padding: 0;
    padding-bottom:4px;
}
